<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- /////////////////////// -->
		<add key="DB_HOST" value="localhost:27017" />
		<!-- add key="DB_HOST" value="192.168.21.32:27017" / -->
		<add key="DB_NAME" value="kanban" />
		<add key="CumulateCardsOnBackBoard" value="true" />
		<add key="CanDropDatabase" value="true" />
		<add key="LimitNum4QueringLastProcess" value="20" />
		<add key="DB_BACKUP_TOOL_PATH" value="C:\Program Files\MongoDB\Server\8.2\bin" />
		<add key="CardWidth" value="260" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>